/* Navbar CSS */
.navbar {
  color: black;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.navbar h1 {
  text-transform: uppercase;
  cursor: pointer;
}

.navbar .navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar .user-actions {
  display: flex;
  gap: 1.2rem;
  align-items: center; /* Align icons and text vertically */
}

.navbar p {
  cursor: pointer;
}

.cart {

  cursor: pointer;
}

.cart-hidden {
  display: none;
}

.cart-items {
  position: absolute;
  top: 100%;
  height: 400px;
  width: 300px;
  right: 0;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  overflow-y: scroll;
}

/* Add styles for user icons and links */
.user-link {
  text-decoration: none; /* Remove underlines from links */
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between icon and text as needed */
  cursor: pointer;
}

.user-icon {
  width: 25px;
  height: 20px;
  border-radius: 50%;
  /* Add any other styling for your icons */
}

.cart-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.cart-icon {
  width: 20px;
  height: 25px;
}


.cart-icon {
  width: 20px;
  height: 25px;
  border-radius: 50%;
}

.link-text {
  margin-left: 8px; /* spacing between icon and text */
}

.cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .50); 
  transition: background-color 1s ease-in-out;
}





