
.navbar {
  color: black;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0; 
}


.navbar h1 {
  text-transform: uppercase;
  cursor: pointer;
}

.navbar .navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar .user-actions {
  display: flex;
  gap: 1.2rem;
  align-items: center; 
}

.navbar p {
  cursor: pointer;
}

.cart-hidden {
  display: none; 
}

.cart-items {
  position: absolute;
  top: 100%;
  width: 800px;
  right: 0;
  background-color: white;
  border: 1px solid black;
  max-height: 400px;
  overflow-y: scroll;
}


.shows{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.shows h1{
  font-size: 20px;
}

.shows img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-image: cover;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quantity input{
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}


.cart-items h1{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.user-link {
  text-decoration: none; 
  display: flex;
  align-items: center;
  gap: 5px; 
  cursor: pointer;
}

.user-icon {
  width: 25px;
  height: 20px;
  border-radius: 50%;
}

.cart-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.cart-icon {
  width: 20px;
  height: 25px;
}


.cart-icon {
  width: 20px;
  height: 25px;
  border-radius: 50%;
}

.link-text {
  margin-left: 8px; 
}

.cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .50); 
}





@media screen and (max-width: 768px) {
  .user-link .link-text h1,
  .cart-link .link-text h1,
  .favorites-link .link-text h1 {
    display: none;
  }

  .user-link,
  .cart-link,
  .favorites-link {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .user-icon,
  .cart-icon,
  .favorites-icon {
    width: 20px !important;
    height: 20px !important;
    margin: 5px 0; 
  }


}


  
















